:root {
  --primary-blue: #004080;
  --accent-red: #e60000;
  --highlight-gold: #ffcc00;
  --neutral-white: #ffffff;
  --gray-light: #f9f9f9;
}

body {
  background-color: var(--gray-light);
  color: #333;
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}